%fieldset
	.control-group
		= f.label :title, :class => 'control-label'
		.controls
			= f.text_field :title, :class => 'text_field', :placeholder => 'Task title'
	.control-group
		= f.label :description, :class => 'control-label'
		.controls
			= f.text_area :description, :rows => 10 , :class => 'text_area', :placeholder => 'Brief description'
	.control-group
		= f.label :start_date, :class => 'control-label'
		.controls
			= f.text_field :start_date, {:class => 'datepicker', 'data-date-format' => 'dd/mm/yyyy', :value => @task.start_date || Date.today}
	.control-group
		= f.label :difficulty, :class => 'control-label'
		.controls
			= f.number_field :difficulty, :class => 'number_field'
	.control-group
		= f.label :type_id, :class => 'control-label'
		.controls
			= f.collection_select :type_id, TaskType.all, :id, :title, :class => 'select'
	- if @task.project_id && @task.new_record?
		.controls
			= f.hidden_field :project_id
	- else
		.control-group
			= f.label :project_id, :class => 'control-label'
			.controls
				= f.collection_select :project_id, Project.all, :id, :title, :class => 'select'
	.control-group
		= f.label :user_id, :class => 'control-label'
		.controls
			= f.collection_select :user_id, User.all, :id, :name, :class => 'select'
	.form-actions.btn-group
		= f.submit nil, :class => 'btn btn-primary'
		= link_to @task.project_id ? project_path(@task.project_id) : tasks_path, :class => 'btn' do
			%i.icon-remove
			Cancel
