%fieldset
	.control-group
		= f.label :name, :class => 'control-label'
		.controls
			= f.text_field :name, :class => 'text_field', :placeholder => 'Your name'
	.control-group
		= f.label :email, :class => 'control-label'
		.controls
			= f.text_field :email, :class => 'text_field', :placeholder => 'We promise not to spam you!'
	.control-group
		= f.label :username, :class => 'control-label'
		.controls
			= f.text_field :username, :class => 'text_field', :placeholder => 'Your nickname'
	.control-group
		= f.label :password, :class => 'control-label'
		.controls
			= f.password_field :password, :class => 'text_field'
	.control-group
		= f.label :bio, :class => 'control-label'
		.controls
			= f.text_area :bio, :rows => 15 , :class => 'text_area', :placeholder => 'Tell us about yourself!'
	.control-group
		= f.label :country_id, :class => 'control-label'
		.controls
			= f.collection_select :country_id, Country.all, :id, :title, :class => 'select'
	
	.form-actions.btn-group
		= f.submit nil, :class => 'btn btn-primary'
		= link_to users_path, :class => 'btn' do
			%i.icon-remove
			Cancel
