%fieldset
	.control-group
		= f.label :title, :class => 'control-label'
		.controls
			= f.text_field :title, :class => 'text_field', :placeholder => 'Project title'
	.control-group
		= f.label :description, :class => 'control-label'
		.controls
			= f.text_area :description, :rows => 10 , :class => 'text_area', :placeholder => 'Brief description'
	.control-group
		= f.label :start_date, :class => 'control-label'
		.controls
			= f.text_field :start_date, {:class => 'datepicker', 'data-date-format' => 'dd/mm/yyyy', :value => @project.start_date || Date.today}
	- unless @project.new_record?
		.control-group
			= f.label :end_date, :class => 'control-label'
			.controls
				= f.text_field :end_date, {:class => 'datepicker', 'data-date-format' => 'dd/mm/yyyy', :value => @project.end_date}
	.control-group
		= f.label :public, :class => 'control-label'
		.controls
			= f.check_box :public, :class => 'check_box'
			%span.help-inline
	.control-group
		= f.label :status_id, :class => 'control-label'
		.controls
			= f.collection_select :status_id, ProjectStatus.all, :id, :title, :class => 'select'
	.control-group
		= f.label :manager_id, :class => 'control-label'
		.controls
			= f.collection_select :manager_id, User.all, :id, :name, :class => 'select'
	.form-actions.btn-group
		= f.submit nil, :class => 'btn btn-primary'
		= link_to projects_path, :class => 'btn' do
			%i.icon-remove
			Cancel
