%fieldset
  %legend
    = controller.action_name.capitalize
    /Project
  .control-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'text_field'
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'text_area'
  .control-group
    = f.label :start_date, :class => 'control-label'
    .controls
      = f.date_select :start_date, :class => 'date_select'
  .control-group
    = f.label :end_date, :class => 'control-label'
    .controls
      = f.date_select :end_date, :class => 'date_select'
  .control-group
    = f.label :public, :class => 'control-label'
    .controls
      = f.check_box :public, :class => 'check_box'
  .control-group
    = f.label :status_id, :class => 'control-label'
    .controls
      = f.number_field :status_id, :class => 'number_field'
  .control-group
    = f.label :manager_id, :class => 'control-label'
    .controls
      = f.number_field :manager_id, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", projects_path, :class => 'btn'
