.page-header
	%h1 Projects
%table{:class => "table table-striped"}
	%thead
		%tr
			%th= t("activerecord.attributes.project.title", :default => t("activerecord.labels.title", :default => "Title"))
			%th Manager
			%th Started on
			%th Status
			%th Actions
	%tbody
		- @projects.each do |project|
			%tr
				%td= link_to project.title, project_path(project)
				%td= link_to project.manager, project_path(project)
				%td= link_to project.start_date, project_path(project)
				%td= link_to project.status, project_path(project)
				%td
					.btn-group
						= link_to edit_project_path(project), :class => 'btn btn-mini' do
							%i.icon-pencil
							Edit
						= link_to project_path(project), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' do
							%i.icon-trash.icon-white
							Delete
	
= link_to new_project_path, :class => 'btn btn-primary' do
	%i.icon-plus.icon-white
	New Project

